/* .menu,
.menu::before,
.menu::after {
  content: "";
  background-color: var(--color-negative);
  width: 15px;
  height: 3px;
  position: relative;
  cursor: pointer;
}

.menu::before,
.menu::after {
  position: absolute;
}

.menu::before {
  top: -6px;
}

.menu::after {
  bottom: -6px;
} */

.menu {
  display: block;
  text-indent: -9999px;
}

.menu::after,
.menu::before,
.menu > .center {
  content: "";
  background-color: var(--color-fourth);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  display: block;
}

.menu::before,
.menu > .center {
  margin-bottom: 5px;
}
