:root {
  --color-negative: #3a4041;
  --color-zero: #ffffff;
  --color-first: #fs25a70;

  --color-second: #eeeeee;
  --color-third: #9b9b9b;
  --color-four: #707070;
  --color-fifth: #828282;

  --color-sixth: #fffcee;
  --color-seventh: #f4f1e4;
  --color-eight: #eae6de;
}
